[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	ff = only
[status]
	showUntrackedFiles = all
[alias]
	af = !git-add-fuzzy
	amend = commit --amend
	co = checkout
	cp = cherry-pick
	fixup = commit --fixup
	graph = !git-graph
	pf = push --force-with-lease
	ri = rebase --interactive --autosquash
	root = !git-root
	sw = switch
	sf = !git-switch-fuzzy
	sm = !git-switch-to-main
	um = !git-update-main
	unstage = restore --staged

[include]
	path = ~/.config/git/local.ini
