[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	ff = only
[alias]
	af = !git-utils add-fuzzy
	amend = commit --amend
	co = checkout
	cp = cherry-pick
	fixup = commit --fixup
	graph = !git-utils graph
	pf = push --force-with-lease
	ri = rebase --interactive --autosquash
	root = !git-utils root
	sw = switch
	swf = !git-utils switch-fuzzy
	sw-main = !git-utils switch-to-main
	unstage = restore --staged
	update-main = !git-utils update-main

[include]
	path = ~/.config/git/local.ini
